<?xml version="1.0" encoding="iso-8859-1"?>
<Outer xmlns:name="config/config.xml">
<setup>
	<splash>
		<logo>
			<name>sandlot games</name>
			<image>./splash/slg_splash_bg.jpg</image>
			<time>3</time>
		</logo>
		<logo>
			<name>shockwave</name>
			<image>./splash/shockwave.png</image>
			<time>3</time>
		</logo>
                <logo>
			<name>techfront</name>
			<image>./splash/techfront_logo.jpg</image>
			<time>3</time>
		</logo>
		<logo>
			<name>egames</name>
			<image>./splash/egames_logo.jpg</image>
			<time>3</time>
		</logo>
	</splash>	
	<trial>
		
		<link_download>http://burgerisland.shockwave.com</link_download>
	</trial>
	<quality>HIGH</quality>	
</setup>
